<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand px-5" href="#">Mail</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse px-5" id="navbarSupportedContent">
        
      <ul class="navbar-nav mr-auto ms-5">
        <li class="nav-item active">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            
        </li>
        <li class="nav-item">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </li>
      </ul>

      <div class="form-inline my-2 my-lg-0">
            
            <button class="" type="submit"><i class="fa-regular fa-circle-question"></i></button>
            <button class="" type="submit"><i class="fa-solid fa-gear"></i></button>
            <button class="" type="submit"><i class="fa fa-th" aria-hidden="true"></i></button>
            <button class="" type="submit"><i class="fa-solid fa-user"></i></button>
          </div>
      
    </div>
  </nav> -->


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- <img class="ms-3" src="https://techcommunity.microsoft.com/t5/image/serverpage/image-id/172206i70472167E79B9D0F/image-size/large?v=v2&px=999" alt=""> -->
      <img class="ms-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png" alt="">
      <a class="navbar-brand ms-3 fs-4" href="#"> Gmail</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5 ps-2">
          <li class="nav-item ms-4">
            <div class="d-flex align-items-center ms-4">
            <span class="s-icon"><i class="fa-solid fa-magnifying-glass "></i></span><input class="form-control mr-sm-2 search" type="search" placeholder="Search mail" aria-label="Search">  
          </div>
          </li>
          <!-- <li class="nav-item">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </li> -->
        </ul>
            
        <span class="navbar-text">
            <button class="mx-2" type="submit"><i class="fa-regular fa-circle-question"></i></button>
            <button class="mx-2" type="submit"><i class="fa-solid fa-gear"></i></button>
            <button class="mx-2" type="submit"><i class="fa fa-th" aria-hidden="true"></i></button>
            <button class="mx-2" type="submit"><i class="fa-solid fa-user"></i></button>
         
        </span>
      </div>
    </div>
  </nav>
