button{
    border: none;
    background-color: transparent;
}

.search{
    background-color: #eaf1fb;
    width: 600px;
    height: 50px;
    border: none;
    border-radius: 0 10px 10px 0;
}

input:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.s-icon{
    background-color: #eaf1fb;
    width: 30px;
    height: 50px;
    padding: 12px;
    border-radius: 10px 0 0 10px;
}

img{
    height: 30px;
    width: 40px;
}