<div class="row">


  <div class=" side-bar bg-light col-lg-2 col-sm-2">

    <div class=" d-flex justify-content-center"><button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class=" add mt-3 p-3 compose"><i
        class="fa-solid fa-pen"></i> &nbsp;&nbsp;Compose</button></div>
    <div><a routerLink=""><button class=" send w-100 mt-3 p-2"><i class="fa-regular fa-paper-plane"></i>
          Send</button></a></div>
    <div><a routerLink="draft"><button class=" draft w-100 mt-3 p-2"><i class="fa-regular fa-file"></i>
          Draft</button></a></div>

  </div>

  <div class="col-lg-10 col-sm-10">

    <div>
      <!-- <input type="text" placeholder="From" [(ngModel)]="inboxObj.from">
            <input type="text" placeholder="To" [(ngModel)]="inboxObj.to">
            <input type="text" placeholder="Subject" [(ngModel)]="inboxObj.subject">
            <button (click)="onItemDraft()">Draft</button> -->

    </div>

    <div class="border p-2 content mt-2 d-flex justify-content-between align-items-center"
      *ngFor="let item of inboxItemArray; let i = index">
      <div class="d-flex">
        <!-- <div class="mt-1">From:  {{item.from}} </div>  -->

        <div>To: {{item.to}} </div>
        <div>
          <div class="ms-5"> {{item.subject}} - <span class="text-secondary">{{item.message}}</span></div>
        </div>
      </div>
      <div>
        <!-- <button data-toggle="modal" data-target="#exampleModalCenter" (click)="onEdit(item)">Edit</button> -->
        <button class="del" (click)="onDelete(i)"><i class="fa-solid fa-trash fa-lg"></i></button>
      </div>

    </div>

  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">New Message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input class="mt-2 sub from" type="text" placeholder="From" [(ngModel)]="inboxObj.from">
        <input class="mt-2 ms-4 sub to" type="text" placeholder="To" [(ngModel)]="inboxObj.to">
        <input class="mt-2 w-100 sub" type="text" placeholder="Subject" [(ngModel)]="inboxObj.subject">
        <input class="mt-1 w-100 sub msg" type="text" placeholder="Message:" [(ngModel)]="inboxObj.message">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal" (click)="onItemDraft()">Close</button>
        <button type="button" class="btn btn-primary rounded-pill" data-bs-dismiss="modal" (click)="onItemAdd()">Send</button>
      </div>
    </div>
  </div>
</div>